body {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  overflow-wrap: normal; }

.wrapper {
  padding: 0 1.6em;
  text-align: center; }

@keyframes copyout {
  0% {
    opacity: 1; }
  100% {
    transform: translateX(-100%);
    opacity: 0; } }

@keyframes copyin {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

.header {
  background-color: white;
  padding: 2em 1.6em;
  display: flex;
  justify-content: space-between; }
  .header .hamburguer {
    cursor: pointer; }
    .header .hamburguer:hover {
      fill: rgba(37, 43, 70, 0.8); }
  @media screen and (min-width: 1024px) {
    .header {
      padding: 1rem 8em;
      align-items: center; }
      .header .hamburguer {
        display: none; }
      .header img {
        height: 1.3em; } }

.nav {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(45, 49, 77, 0.9); }
  .nav__header {
    padding: 2.5em 1.6em;
    display: flex;
    justify-content: space-between;
    margin: 0; }
  .nav .close {
    cursor: pointer; }
    .nav .close:hover {
      fill: rgba(255, 255, 255, 0.3); }
  .nav__body {
    padding: 0 1.6em;
    margin: 0;
    text-align: center; }
  .nav__items {
    list-style: none; }
    .nav__items a {
      display: block;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 500;
      text-align: center;
      border-top: 0.2px solid rgba(255, 255, 255, 0.3);
      padding: 1.3em 0; }
      .nav__items a:hover {
        color: rgba(255, 255, 255, 0.3); }
    .nav__items #nav-a {
      border-bottom: 0.2px solid rgba(255, 255, 255, 0.3); }
  .nav__btn {
    background-color: transparent;
    cursor: pointer;
    margin-top: 1.5em;
    border: 2px solid #fff;
    border-radius: 7px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    padding: .5em 0;
    width: 100%;
    letter-spacing: 5px; }
    .nav__btn:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: rgba(45, 49, 77, 0.9); }
  @media screen and (min-width: 1024px) {
    .nav {
      display: flex;
      justify-content: space-between;
      position: initial; }
      .nav__header {
        display: none; }
      .nav__body {
        padding: 0;
        display: flex;
        background: white;
        align-items: center; }
      .nav__items:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
      .nav__items a {
        color: #252b46;
        letter-spacing: initial;
        font-size: .7em;
        font-weight: 500;
        margin: 0 2em; }
        .nav__items a:hover {
          color: #252b46; }
      .nav__btn {
        background: #fa5757;
        margin: 0 0 0 2em;
        font-size: .7em;
        font-weight: bold;
        padding: 1em 2.5em;
        letter-spacing: initial;
        outline: 0;
        cursor: pointer;
        will-change: transform; }
        .nav__btn:hover {
          background: #fa5757;
          color: white; }
        .nav__btn:active {
          transform: scale(0.9); } }

.hero__image {
  background: url("./images/illustration-hero.svg") center top 50px/95% no-repeat;
  height: 80vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; }

.hero__titleH1 {
  color: #252b46;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.3;
  margin-top: 1.5em; }

.hero__copy {
  color: #9194a1;
  text-align: center;
  line-height: 1.7;
  font-size: .7em;
  padding: 0 1.5em;
  margin-bottom: 2em; }

.hero .container_button {
  display: flex;
  justify-content: space-between; }

.hero__button__1 {
  border-radius: 4px;
  padding: 1em;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
  background: #5368df;
  color: white;
  box-shadow: 0 13px 20px 1px rgba(0, 0, 0, 0.1); }
  .hero__button__1:active {
    transform: scale(0.9); }

.hero__button__2 {
  border-radius: 4px;
  padding: 1em;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
  background: #f3f4f6;
  box-shadow: 0 13px 20px 1px rgba(0, 0, 0, 0.1);
  color: #2d314d; }
  .hero__button__2:active {
    transform: scale(0.9); }

@media screen and (min-width: 1024px) {
  .hero {
    display: flex;
    padding: 0;
    justify-content: space-between; }
    .hero .wrapper {
      width: 40%;
      padding: 5em 0;
      margin-left: 7em; }
    .hero__titleH1 {
      text-align: left;
      font-size: 2em;
      font-weight: bold;
      padding: 0 1em 0 0; }
    .hero__image {
      width: 50%;
      height: 500px;
      background-size: 90% 90%; }
      .hero__image .forms {
        height: 70%; }
    .hero__button__1 {
      margin-right: 2em; }
    .hero__copy {
      text-align: left;
      font-size: 1em;
      padding: 0 2em 0 0; }
    .hero .container_button {
      justify-content: left; } }

.forms {
  position: relative;
  width: 80%;
  border-bottom-left-radius: 70px;
  height: 66%;
  background: #5368df;
  z-index: -1; }

.features {
  text-align: center; }
  .features__title {
    text-align: center;
    font-size: 1em;
    color: #252b46;
    font-weight: 500; }
  .features__copy {
    color: #9194a1;
    text-align: center;
    line-height: 1.7;
    font-size: .7em;
    padding: 0 1.5em;
    margin-bottom: 2em; }
  .features__container {
    text-align: center;
    padding: 0;
    margin: 0 0 3.5em; }
    .features__container:last-child {
      border-bottom: 0.5px solid rgba(145, 148, 161, 0.3); }
  .features__items {
    list-style: none;
    border-top: 0.5px solid rgba(145, 148, 161, 0.3);
    display: block;
    text-align: center; }
    .features__items a {
      text-align: center;
      text-decoration: none;
      color: rgba(37, 43, 70, 0.9);
      font-size: .7em;
      font-weight: 500;
      padding: 1em 0;
      display: block;
      cursor: pointer; }
    .features__items .selected {
      width: 40%;
      margin: 0 auto;
      height: 3px;
      border: 0;
      background-color: #fa5757; }
    .features__items #sltd2 {
      display: none; }
    .features__items #sltd3 {
      display: none; }
    .features__items .displayIn {
      display: block; }
    .features__items .displayOut {
      display: none; }
  .features__container__image {
    display: block;
    text-align: center;
    position: relative;
    padding-bottom: 1.6em;
    min-height: 214px; }
    .features__container__image .forms {
      position: relative;
      width: 80%;
      border-bottom-left-radius: 70px;
      height: 66%;
      background: #5368df;
      z-index: -1;
      display: block;
      position: absolute;
      top: 1.6em;
      border-radius: 0;
      border-top-right-radius: 70px;
      border-bottom-right-radius: 70px;
      height: calc(100% - 1.6em); }
    .features__container__image .features-img {
      width: calc( 100% - 3.2em);
      position: absolute;
      top: 0;
      transition: .5s ease-out forwards; }
    .features__container__image .features-img:nth-child(1) {
      right: 1.6em;
      display: block; }
    .features__container__image .features-img:nth-child(2) {
      right: 100%;
      display: none; }
    .features__container__image .features-img:nth-child(3) {
      right: 100%;
      display: none; }
  .features__container__copys {
    margin-top: 2em;
    position: relative;
    display: block;
    min-height: 172px; }
    .features__container__copys__copy {
      position: absolute;
      top: 0;
      transition: .5s ease forwards;
      padding: 0 1.6em; }
      .features__container__copys__copy:nth-child(1) {
        display: block; }
      .features__container__copys__copy:nth-child(2) {
        display: block;
        transform: translateX(-100%); }
      .features__container__copys__copy:nth-child(3) {
        display: block;
        transform: translateX(-100%); }
      .features__container__copys__copy .title {
        text-align: center;
        font-size: 1em;
        color: #252b46;
        font-weight: 500;
        font-size: 1.2em; }
      .features__container__copys__copy .copy {
        color: #9194a1;
        text-align: center;
        line-height: 1.7;
        font-size: .7em;
        padding: 0 1.5em;
        margin-bottom: 2em;
        line-height: 1.7;
        padding: 0; }
  @media screen and (min-width: 1024px) {
    .features__title {
      font-size: 2em;
      font-weight: bold; }
    .features__copy {
      width: 30%;
      margin: 1em auto 2em; }
    .features__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 40%;
      margin: 0 auto 3.5em; }
      .features__container__image {
        z-index: 2;
        width: 50%;
        height: 100%; }
        .features__container__image .features-img {
          width: 80%;
          height: 75%; }
        .features__container__image .forms {
          height: 75%;
          top: 3.5em; }
      .features__container__copys {
        width: 50%;
        height: 100%;
        z-index: 1; }
        .features__container__copys__copy {
          padding: 0 3em 0 4em;
          top: 30px;
          text-align: left; }
          .features__container__copys__copy .title {
            font-weight: bold;
            text-align: left; }
          .features__container__copys__copy .copy {
            width: 60%;
            text-align: left; }
          .features__container__copys__copy .btn-copy {
            border-radius: 4px;
            padding: 1em;
            border: 0;
            font-weight: bold;
            cursor: pointer;
            outline: 0;
            background: #5368df;
            color: #f3f4f6; }
            .features__container__copys__copy .btn-copy:active {
              transform: scale(0.9); }
    .features__items {
      border: 0; }
      .features__items a {
        padding: 1em 2em; }
        .features__items a:hover {
          font-weight: 700; }
      .features__items .selected {
        width: 100%; }
    .features .container_image_copys {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 400px; } }

.extension {
  text-align: center;
  margin-bottom: 8em; }
  .extension__title {
    text-align: center;
    font-size: 1em;
    color: #252b46;
    font-weight: 500; }
  .extension__copy {
    color: #9194a1;
    text-align: center;
    line-height: 1.7;
    font-size: .7em;
    padding: 0 1.5em;
    margin-bottom: 2em; }
  .extension .cards {
    margin: 2em auto;
    padding: 3em 1em 1em;
    background: white;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 13px 20px 1px rgba(0, 0, 0, 0.1); }
    .extension .cards__img {
      width: 90px;
      height: 90px; }
    .extension .cards__container {
      margin: 0 auto;
      text-align: center; }
    .extension .cards .img_dots {
      display: block;
      width: 100%;
      margin-bottom: 1em; }
    .extension .cards__button {
      border-radius: 4px;
      padding: 1em;
      border: 0;
      font-weight: bold;
      cursor: pointer;
      outline: 0;
      background: #5368df;
      color: #f3f4f6;
      padding-right: 3em;
      padding-left: 3em; }
      .extension .cards__button:active {
        transform: scale(0.9); }
    .extension .cards__copy {
      color: #9194a1;
      text-align: center;
      line-height: 1.7;
      font-size: .7em;
      padding: 0 1.5em;
      margin-bottom: 2em;
      font-size: .7em;
      font-weight: 400; }
    .extension .cards__title {
      text-align: center;
      font-size: 1em;
      color: #252b46;
      font-weight: 500; }
  @media screen and (min-width: 1024px) {
    .extension__title {
      font-size: 2em;
      font-weight: bold; }
    .extension__copy {
      margin: 1em auto 2em;
      width: 28%; }
    .extension .extension__container__cards {
      display: flex;
      width: 58%;
      margin: 0 auto;
      padding: 1em;
      justify-content: center; }
      .extension .extension__container__cards .cards {
        min-width: calc(300px - 36px); }
        .extension .extension__container__cards .cards:nth-child(1) {
          margin: 0 2em  0 0; }
        .extension .extension__container__cards .cards:nth-child(2) {
          margin: 3em 2em -3em 0; }
        .extension .extension__container__cards .cards:nth-child(3) {
          margin: 5em 0 -5em; } }

.questions {
  margin-bottom: 7em; }
  .questions__title {
    text-align: center;
    font-size: 1em;
    color: #252b46;
    font-weight: 500;
    font-size: 1.8em;
    font-weight: bold; }
  .questions__copy {
    color: #9194a1;
    text-align: center;
    line-height: 1.7;
    font-size: .7em;
    padding: 0 1.5em;
    margin-bottom: 2em;
    margin-top: 1.5em;
    font-weight: 400; }
  .questions__container {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    margin-bottom: 3em; }
  .questions__item {
    list-style: none;
    cursor: pointer;
    border: 0;
    border-bottom: 0.5px solid rgba(145, 148, 161, 0.3); }
    .questions__item__a {
      display: flex;
      justify-content: space-between;
      margin: 0;
      text-decoration: none;
      padding: 1.8em 0 1.3em;
      text-align: left;
      color: rgba(37, 43, 70, 0.9);
      font-size: .8em;
      font-weight: 500; }
      .questions__item__a svg {
        height: 14px;
        width: 19px; }
      .questions__item__a .svg {
        transform: rotate(180deg); }
      .questions__item__a .path {
        stroke: #fa5757; }
    .questions__item .answer {
      display: none;
      color: #9194a1;
      text-align: center;
      line-height: 1.7;
      font-size: .7em;
      padding: 0 1.5em;
      margin-bottom: 2em;
      font-size: .7em;
      text-align: left;
      line-height: 2;
      font-weight: 500;
      padding: .2em; }
  .questions__button {
    border-radius: 4px;
    padding: 1em;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    background: #5368df;
    color: #f3f4f6;
    cursor: pointer;
    outline: 0;
    will-change: transform; }
    .questions__button:active {
      transform: scale(0.9); }
    .questions__button:active {
      transform: scale(0.9); }
  @media screen and (min-width: 1024px) {
    .questions .wrapper {
      width: 40%;
      margin: 0 auto; } }

.contact {
  background: #5368df;
  padding: 3em 0; }
  .contact__title1 {
    text-align: center;
    font-size: 1em;
    color: #252b46;
    font-weight: 500;
    color: #f3f4f6;
    font-size: .65em;
    text-transform: uppercase;
    letter-spacing: .5em; }
  .contact__title2 {
    text-align: center;
    font-size: 1em;
    color: #252b46;
    font-weight: 500;
    color: #f3f4f6;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 1.5xem; }
  .contact__email {
    display: block;
    border: 0;
    border-radius: 4px;
    width: 100%;
    padding: 1.2em;
    outline: 0; }
    .contact__email__icon {
      position: relative;
      right: 2em; }
  .contact__button {
    border-radius: 4px;
    padding: 1em;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    margin-top: 1em;
    background: #fa5757;
    color: #f3f4f6;
    width: 100%;
    font-size: .8em;
    cursor: pointer;
    outline: 0;
    will-change: transform;
    height: 52px; }
    .contact__button:active {
      transform: scale(0.9); }
    .contact__button:active {
      transform: scale(0.9); }
    .contact__button:hover {
      background: #f3f4f6;
      border: 2px solid #fa5757;
      color: #fa5757; }
  .contact__error {
    display: block;
    width: 100%;
    position: relative;
    top: -.3em;
    z-index: 1;
    box-sizing: border-box;
    background: #fa5757;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: #f3f4f6;
    font-size: .6em;
    font-weight: bold;
    text-align: left; }
  .contact__email:invalid {
    border: 2px solid #fa5757; }
  @media screen and (min-width: 1024px) {
    .contact .wrapper {
      width: 35%;
      margin: 0 auto; }
    .contact .container-button-email {
      display: flex; }
    .contact__button {
      padding: 1em;
      width: 30%;
      margin-left: 10px;
      margin-top: 0; }
    .contact__email {
      margin: 0;
      width: 100%;
      box-sizing: border-box;
      border-radius: 6px;
      position: relative;
      z-index: 2; }
    .contact__title2 {
      padding: 0 5em; }
    .contact__form-email {
      display: flex;
      width: 100%;
      margin: 0;
      justify-content: space-between; } }
  .contact label {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2em);
    margin: 0; }

.active {
  padding: 1em; }

.footer {
  background: #252b46;
  padding: 2em 0;
  text-align: center; }
  .footer__logo {
    margin-bottom: 2em; }
  .footer .link {
    text-decoration: none;
    color: #f3f4f6;
    text-transform: uppercase;
    font-size: .6em;
    display: block;
    margin: 2em 0;
    letter-spacing: .2em; }
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0; }
  .footer__social {
    margin: 0 .8em;
    width: 20px;
    height: 20px; }
  @media screen and (min-width: 1024px) {
    .footer {
      display: grid;
      grid-template-columns: 200px 1fr 2fr;
      grid-template-areas: 'logo' 'link' 'social';
      align-items: center;
      padding: 2em 5em;
      justify-content: space-between; }
      .footer__logo {
        margin: 0;
        grid-area: 'logo'; }
      .footer .footer-container-link {
        display: flex; }
        .footer .footer-container-link .link {
          margin: 0 0 0 4em;
          height: 1em;
          grid-area: 'links'; }
      .footer__container {
        margin: 0;
        grid-area: 'social';
        justify-content: flex-end; } }
