.contact{
  background: $SoftBlue;
padding: 3em 0;
  &__title1{
    @include title;
    color: $LightGrayish;
    font-size: .65em;
    text-transform: uppercase;
    letter-spacing: .5em;
  }
  &__title2{
    @include title;
    color: $LightGrayish;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 1.5xem;
  }
  &__email{
    display: block;
    border: 0;
    border-radius: 4px;
    width: 100%;
    padding: 1.2em;
    outline: 0;
    &__icon{
      position: relative;
      right: 2em;
    }
  }
   
  &__button{
    @include button;
    margin-top: 1em;
    background: $SoftRed;
    color: $LightGrayish;
    width: 100%;
    font-size: .8em;
    cursor: pointer;
    outline: 0;
    will-change: transform;
    height: 52px;
    &:active{
      transform: scale(.9);
    }
    &:hover{
      background: $LightGrayish;
      border: 2px solid $SoftRed;
      color: $SoftRed;
    }
  }
  &__error{
    display: block;
    width: 100%;
    position: relative;
    top: -.3em;
    z-index: 1;
    box-sizing: border-box;
    background: $SoftRed;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: $LightGrayish;
    font-size: .6em;
    font-weight: bold;
    text-align: left;
    }
    &__email:invalid{
    border: 2px solid $SoftRed;
    }
  @include media1024{
    .wrapper{
      width: 35%;
      margin: 0 auto;
    }
    .container-button-email{
      display: flex;

    }
    &__button{
      padding: 1em;
      width: 30%;
      margin-left: 10px;
      margin-top: 0;
    }
    &__email{
      margin: 0;
      width: 100%;
      box-sizing: border-box;
      border-radius: 6px;
      position: relative;
      z-index: 2;
      }
    &__title2{
      padding: 0 5em;
    }
    &__form-email{
      display: flex;
      width: 100%;
      margin: 0;
      justify-content: space-between;
    }
 
}
  label{
  display: flex;
  flex-direction: column;
  width: calc(100% - 2em);
  margin: 0;
  }

  .active{
   padding: 1em;
  }
  }