.extension{
  text-align: center;
  margin: 8em 0;
  &__title{
    @include title;
  }
  &__copy{
  @include copy;
  }
.cards{
    margin: 2em auto;
    padding: 3em 1em 1em;
    background: $White;
    text-align: center;
     border-radius: 7px;
      box-shadow: 0 13px 20px 1px rgba(0,0,0,.1);
      &__img{
        width: 90px;
        height: 90px;
      }
    &__container{
      margin:0 auto;
      text-align: center;
    }
    .img_dots{
      display: block;
      width: 100%;
      margin-bottom: 1em;
    }
    &__button{
      @include button;
      background: $SoftBlue;
      color: $LightGrayish;
      padding-right: 3em;
      padding-left: 3em;
    }
    &__copy{
      @include copy;  
      font-size: .7em;
      font-weight: 400;
       }
    &__title{
      @include title;
      
    }
  }
  @include media1024{
    &__title{
      font-size: 2em;
      font-weight: bold;
    }
    &__copy{
      margin: 1em auto 2em;
      width: 28%;
    }
    .extension__container__cards{
      display: flex;
      width: 58%;
      margin: 0 auto;
      padding: 1em;
      justify-content: center;
      .cards{
        min-width: calc(300px - 36px);
      &:nth-child(1){
        margin: 0 2em  0 0;
      }
      &:nth-child(2){
        margin: 3em 2em -3em 0; 
      }
      &:nth-child(3){
        margin: 5em 0 -5em ;
      }
      }
    }
  }
}
