.features{
  text-align: center;
  
  &__title{
    @include title;
  }
  &__copy{
    @include copy;
  }
  &__container{
    text-align: center;
    padding:0;
    margin: 0 0 3.5em;
    &:last-child{
    border-bottom: .5px solid hsla(229, 8%, 60%, 0.3);

    }
  }
  &__items{
    list-style: none;
    border-top: .5px solid hsla(229, 8%, 60%, 0.3);
    display: block;
    text-align: center;
  a{
    text-align: center;
    text-decoration: none;
    color:rgba(37, 43, 70, 0.9);
    font-size: .7em;
    font-weight: 500;
    padding: 1em 0;
    display: block;
    cursor: pointer;
  }
 
  
  .selected{
    width: 40%;
    margin: 0 auto;
    height: 3px;
    border: 0;
    background-color: $SoftRed;
  }
  #sltd2{
    display: none;
  }
  #sltd3{
    display: none;
  }
  .displayIn{
    display: block;
  }
  .displayOut{
    display: none;
  }
  
  } 
  
    &__container{
      &__image{
        display: block;
        text-align: center;
        position: relative;
        padding-bottom: 1.6em;
        min-height: 214px;
        .forms{
          @include forms;
          display: block;
          position: absolute;
          top: 1.6em;
          border-radius: 0;
          border-top-right-radius: 70px;
          border-bottom-right-radius:70px;
          height:calc(100% - 1.6em);
        }
      
        .features-img{
          width: calc( 100% - 3.2em);
          position: absolute;
          top: 0;
          transition: .5s ease-out forwards;
           }
       
        .features-img:nth-child(1){
          right: 1.6em; 
          display: block;
        }
        .features-img:nth-child(2){
          right: 100%;
          display: none;
        }
        .features-img:nth-child(3){
          right: 100%;
          display: none;
        }
      }
      &__copys{
         
        margin-top: 2em;
        position: relative;
        // border: 1px solid green;
        display: block;
        min-height: 172px;
        &__copy{
          position: absolute;
          top: 0;
          transition: .5s ease forwards;
          padding: 0 1.6em;
           &:nth-child(1){
             display: block;
           }
          
          &:nth-child(2){
           display: block;
           transform: translateX(-100%);

         }
          &:nth-child(3){
           display: block;
           transform: translateX(-100%);
         }
          .title{
            @include title;
            font-size: 1.2em;
          }
          .copy{
            @include copy;
            line-height: 1.7;
            padding: 0;
          }
        }

      }
    }
    @include media1024{
      &__title{
        font-size: 2em;
        font-weight: bold;
      }
    &__copy{
      width: 30%;
      margin: 1em auto 2em;
    }
    &__container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 40%;
      margin: 0 auto 3.5em;
      &__image{
        z-index: 2;
        width: 50%;
        height: 100%;
        .features-img{
          width: 80%;
          height: 75%;
        }
        .forms{
          height: 75%;
          top: 3.5em;
        }
      }
      &__copys{
        width: 50%;
        height: 100%;
        z-index: 1;
        &__copy{
          padding: 0 3em 0 4em;
          top: 30px;
          text-align: left  ;
          .title{
            font-weight: bold;
            text-align: left;
          }
          .copy{
           width: 60%;
            text-align: left;
          }
          .btn-copy{
            @include button;
            background: $SoftBlue;
            color: $LightGrayish;
          }
        }
      }
    }
    &__items{
      & a{
        padding: 1em 2em;
        &:hover{
        font-weight: 700;
        }

      }
      border: 0;
      .selected{
        width: 100%;
      }
    }
    .container_image_copys{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 400px;
    }
  }
}

  
  
  
  


             

         