.questions{
  &__title{
    @include title;
    font-size: 1.3em;
  }
  &__copy{
    @include copy;
    margin-top: 1.5em;
    font-weight: 400;
  }
  &__container{
    // border: 1px solid blue;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    margin-bottom: 3em;
  }
  &__item{
    list-style: none;
    cursor: pointer;
     border:0;
    border-bottom: .5px solid rgba(145, 148, 161,.3);
    &__a{
      display: flex;
      justify-content: space-between;
      margin:0;
      text-decoration: none;
     
      padding: 1.8em 0 1.3em; 
      text-align: left; 
      color: rgba(37, 43, 70, 0.9);
      font-size: .8em;
      font-weight: 500;
      svg{
        height: 14px;
        width: 19px;
      }
      .svg{
        transform: rotate(180deg);
      }
      .path{
        stroke: $SoftRed;
      }
    }
    .answer{
      display: none;
      @include copy;
      font-size: .7em;
      text-align: left;
      line-height: 2;
      font-weight: 500;
      padding: .2em;
    }
  }
  &__button{
    @include button;
    background: $SoftBlue;
    color:$LightGrayish ;
    cursor: pointer;
    outline: 0;
    will-change: transform;
    &:active{
      transform: scale(.9);
    }
  } 
  margin-bottom: 7em;
}